.error {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 158, 158);

    &-info {
        display: flex;
        flex-direction: column;
        background-color: rgb(238, 37, 37);
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        -webkit-box-shadow: -28px 26px 12px 5px rgba(0,0,0,0.78); 
        box-shadow: -28px 26px 12px 5px rgba(0,0,0,0.78);
    }

    &-text {
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 100%;
        color: rgb(240, 192, 192);
    }

    &-button {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    &-warning {
        width: 240px;
        padding-left: 10px;
        padding-bottom: 20px;
        display: flex;
        flex-flow: column;
        position: fixed;
        bottom: 0px;
        left: 0px;
    }

    &-plate {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(230, 185, 185);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        &-txt {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &-cls {
            padding: 3px;
            height: fit-content;
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 3px;
            cursor: pointer;
        }

    }
}